ul {
    list-style-type:none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
 }
.informationtext{
    list-style-type:none;
    margin-block-start: 32px;
    margin-block-end: 0em;
    padding-inline-start: 0px;  
}
